[Unit]
Description=Try to satisfy password requests from shared dracut/systemd cache
DefaultDependencies=no
Conflicts=post-dracut-crypt.path shutdown.target
After=plymouth-start.service
Before=shutdown.target
ConditionPathExists=!/run/plymouth/pid
ConditionPathExists=/run/initramfs/.password.cache

[Service]
ExecStart=/usr/local/bin/systemd_password_cache
