[Unit]
Description=Drop shared dracut/systemd auth cache
DefaultDependencies=no
After=local-fs.target openct.service
ConditionPathExists=|/run/initramfs/.password.cache
ConditionPathExists=|/run/initramfs/.password.seed

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/local/sbin/systemd_password_cache_cleanup
ExecStart=/bin/systemctl stop post-dracut-crypt.service

[Install]
WantedBy=default.target
