[Unit]
Description=Drop shared dracut/systemd auth cache
DefaultDependencies=no
After=local-fs.target
ConditionPathExists=/run/initramfs/.password.cache

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/systemd_password_cache_cleanup
ExecStartPost=-/bin/systemctl stop post-dracut-crypt.service

[Install]
WantedBy=default.target
